@import url('https://fonts.googleapis.com/css?family=Arimo|Oswald');

.App {
  font-family: 'Oswald', sans-serif;
}

.Header {
  background-color: #282828;
  height: 100px;
  padding: 20px;
  color: white;
}

.Pokemon {
  font-family: 'Arimo', sans-serif;
}

