@import url('https://fonts.googleapis.com/css?family=Arimo|Oswald');

.App {
  font-family: 'Oswald', sans-serif;
}

.Header {
  background-color: #282828;
  height: 100px;
  padding: 20px;
  color: ghostwhite;
}

.Header a {
  margin-left: 30px;
  color: ghostwhite;
  font-size: 16px;
}

.Header form {
  float: right;
}

#react-autowhatever-1 {
  color: black;
}

.Pokemon {
  font-family: 'Arimo', sans-serif;
}

.PokemonList {
  font-family: 'Arimo', sans-serif;
}

.ComparePage {
  float: left;
  /* margin-left: 400px; */
  position: -webkit-sticky;
  position: sticky;
  top: 230px;
}

.PokemonList ol {
  float: left;
  width: 200px;
}
